ipdb==0.13.9
certifi==2020.12.5
chardet==4.0.0
frictionless-ckan-mapper==1.0.6
idna==2.10
pip==21.2.4
requests==2.25.1
setuptools==49.2.1
six==1.15.0
urllib3==1.26.5
python-dotenv==0.17.1
sphinx==4.0.2
sphinx-rtd-theme==0.5.2
click==8.0.1
wheel==0.36.2
twine==3.4.1
ckanapi==4.0.0
frictionless==4.16.6
ipdb==0.13.9

